body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.wheel-container {
    text-align: center;
    position: relative;
    margin-right: 30px;
}

h1 {
    margin-bottom: 20px;
}

canvas {
    display: block;
    margin: 0 auto;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
}

#nameInput {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    resize: none;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#shuffleNames {
    margin-right: 10px;
}

#addNames {
    flex-grow: 1;
    margin-left: 10px;
}

/* CSS cho modal hiển thị tên người chiến thắng */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#interactiveImage {
    margin-top: 10px; /* Đảm bảo hình ảnh nằm dưới nút quay */
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
